body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

input[type="submit"] {
    border: 1px solid black;
    border-radius: 4px;
    line-height: 27px;
    font-size: 14px;
    text-align: center;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0px 16px;
    cursor: pointer;
}

a {
    padding: 3px 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.navigator {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 14px;
}