.main-heading {
    font-size: 40px;
}

.maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-form {
    border: 1px solid black;
    border-radius: 24px;
    display: block;
    width: 443px;
    margin: 37px;
    height: 34px;
}